# 0. Load data

In [1]:
import pandas as pd
from cleaning_scripts.load_data_to_clean2 import load_data_to_clean
from cleaning_scripts.string_operations import create_artist_name_col, create_artwork_title
from cleaning_scripts.acquisition_operations import *
from cleaning_scripts.production_operations import *
from cleaning_scripts.outliers_operations import find_outliers
raw_data, dataset_names = load_data_to_clean()
transformed_data = []
museums_opening_date = [1870, 1990, 1897, 1977, 1929, 1931, 1937, 1998, 1896, 1887, 1895]

Loaded met with shape: (476318, 54)
Loaded reina_sofia with shape: (10018, 16)
Loaded tate with shape: (69201, 31)
Loaded pompidou with shape: (115217, 23)
Loaded moma with shape: (157474, 30)
Loaded whitney with shape: (26497, 21)
Loaded national_gallery with shape: (141438, 55)
Loaded kiasma with shape: (8329, 70)
Loaded smk with shape: (175525, 17)
Loaded ateneum with shape: (27994, 88)
Loaded queensland with shape: (20250, 22)

# 1. use functions for cleaning fields.
artist name, artwork title

In [2]:
#create a new column with Artist name
for idx, df in zip(dataset_names, raw_data):
    print('-----------------------------------')
    print(idx)
    create_artist_name_col(df)
    transformed_data.append(df)

-----------------------------------
met
Artist name found in column: Artist Display Name
-----------------------------------
reina_sofia
Artist name found in column: author
-----------------------------------
tate
Artist name found in column: artist
-----------------------------------
pompidou
Artist name found in column: artist_name
-----------------------------------
moma
Artist name found in column: Artist
-----------------------------------
whitney
Artist name found in column: artists
-----------------------------------
national_gallery
Artist name found in column: forwarddisplayname
-----------------------------------
kiasma
Artist name found in column: artist_name
-----------------------------------
smk
Artist name found in column: artist_0
-----------------------------------
ateneum
Artist name found in column: artist_name
-----------------------------------
queensland
Artist name found in column: Artist

In [3]:
#create a new column with Artwork title
for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    create_artwork_title(df)

met
Artwork title found in column: Title
reina_sofia
Artwork title found in column: name
tate
Artwork title found in column: name
pompidou
Artwork title found in column: object_title
moma
Artwork title found in column: Title
whitney
Artwork title found in column: title
national_gallery
Artwork title found in column: title
kiasma
Artwork title found in column: title_fi
smk
Artwork title found in column: titles_0_title
ateneum
Artwork title found in column: title_fi
queensland
Artwork title found in column: Title

# 2. aquisition year

In [4]:
for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    clean_acquisition_year(df)

met
Data found in column: AccessionYear
Number of cleaned variables: 471928 out of 476318 (99.1%)
----------------------------------
reina_sofia
Data found in column: year_adquisition
Number of cleaned variables: 9951 out of 10018 (99.3%)
----------------------------------
tate
Data found in column: acquisitionYear
Number of cleaned variables: 69156 out of 69201 (99.9%)
----------------------------------
pompidou
Data found in column: acquisition_date
Number of cleaned variables: 100340 out of 115217 (87.1%)
----------------------------------
moma
Data found in column: DateAcquired
Number of cleaned variables: 150772 out of 157474 (95.7%)
----------------------------------
whitney
Data found in column: credit_line
Number of cleaned variables: 115 out of 26497 (0.4%)
----------------------------------
national_gallery
Data found in column: accessionnum
Number of cleaned variables: 141430 out of 141438 (100.0%)
----------------------------------
kiasma
Data found in column: inventoryNumber
Number of cleaned variables: 7897 out of 8329 (94.8%)
----------------------------------
smk
Data found in column: acquisition_date
Number of cleaned variables: 174440 out of 175525 (99.4%)
----------------------------------
ateneum
Data found in column: acquisitionYear
Number of cleaned variables: 5126 out of 27994 (18.3%)
----------------------------------
queensland
Data found in column: AcquiredDate
Number of cleaned variables: 20187 out of 20250 (99.7%)
----------------------------------

In [5]:
diagnostic_df = analyze_acquisition_columns(transformed_data[9])

In [6]:
improve_acquisition_pompidou(transformed_data[3])
improve_acquisition_whitney(transformed_data[5])
improve_acquisition_nga(transformed_data[6])
improve_acquisition_kiasma(transformed_data[7])
improve_acquisition_ateneum(transformed_data[9])
#future work: base these functions on pattern similarities with production patterns

Fixed 1263 out of 1933 problematic rows
Pompidou - Number of cleaned variables: 101603 out of 115217 (88.2%)
---------------------------------------
Fixed 26378 out of 26378 problematic rows
Whitney - Number of cleaned variables: 26493 out of 26497 (100.0%)
---------------------------------------
Fixed 7 out of 7 problematic rows
Natonal Gallery - Number of cleaned variables: 141437 out of 141438 (100.0%)
---------------------------------------
Fixed 9 out of 430 problematic rows
Kiasma - Number of cleaned variables: 7906 out of 8329 (94.9%)
---------------------------------------
Fixed 11839 out of 22867 problematic rows
Ateneum - Number of cleaned variables: 16965 out of 27994 (60.6%)
---------------------------------------

,Unnamed: 0,objectId,responsibleOrganisation,dimensions_0,dimensions_1,dimensionUnit,acquisitionYear,title_en,title_fi,category_categoryId,...,people_8_deathYear,people_9_id,people_9_firstName,people_9_familyName,medium,artist_name,Artist,Title,Year_acquisition,source_column
0,1,438766,Kansallisgalleria / Ateneumin taidemuseo,23.5,23.5,cm,NaN,NaN,"Malliharjoitelma, nainen, jolla on mustat suka...",artwork,...,NaN,NaN,NaN,NaN,black chalk mustaliitu svartkrita mustaliitu,Alfred William Finch,Alfred William Finch,"Malliharjoitelma, nainen, jolla on mustat suka...",<NA>,inventoryNumber
1,2,446767,Kansallisgalleria / Ateneumin taidemuseo,29.0,42.0,cm,NaN,NaN,Hevonen,artwork,...,NaN,NaN,NaN,NaN,pencil lyijykynä blyertspenna lyijykynä,Alfred William Finch,Alfred William Finch,Hevonen,<NA>,inventoryNumber
2,6,462031,Kansallisgalleria / Ateneumin taidemuseo,22.0,17.6,cm,NaN,"Zvicken the Sleeping Dog, study","Zvicken, nukkuva koira, harjoitelma",artwork,...,NaN,NaN,NaN,NaN,mustekynä,Akseli Gallen-Kallela,Akseli Gallen-Kallela,"Zvicken, nukkuva koira, harjoitelma",<NA>,inventoryNumber
3,8,444040,Kansallisgalleria / Ateneumin taidemuseo,180.5,100.0,cm,NaN,NaN,"Juominki, luonnos Grand Cafén seinämaalaukseen...",artwork,...,NaN,NaN,NaN,NaN,kangas oil öljy olja oil on canvas öljy kankaa...,Per Krohg,Per Krohg,"Juominki, luonnos Grand Cafén seinämaalaukseen...",<NA>,inventoryNumber
4,11,610341,Kansallisgalleria / Ateneumin taidemuseo,120.0,150.0,cm,2003.0,Street Scene,Katukuva,artwork,...,NaN,NaN,NaN,NaN,kangas oil öljy olja oil on canvas öljy kankaa...,Ulla Rantanen,Ulla Rantanen,Katukuva,2003,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27989,56771,539754,Kansallisgalleria / Ateneumin taidemuseo,19.6,14.5,cm,NaN,NaN,Juutalaismorsian,artwork,...,NaN,NaN,NaN,NaN,etching viivasyövytys etsning,William Unger,William Unger,Juutalaismorsian,<NA>,inventoryNumber
27990,56879,1784430,Kansallisgalleria / Ateneumin taidemuseo,46.5,64.0,cm,NaN,Codfish,Turska,artwork,...,NaN,NaN,NaN,NaN,kangas oil öljy olja oil on canvas öljy kankaa...,Åke Hellman,Åke Hellman,Turska,2019,inventoryNumber
27991,57398,541358,Kansallisgalleria / Ateneumin taidemuseo,14.6,20.6,cm,NaN,NaN,Metsästäjiä lähteellä,artwork,...,NaN,NaN,NaN,NaN,etching viivasyövytys etsning,William Unger,William Unger,Metsästäjiä lähteellä,<NA>,inventoryNumber
27992,58062,590062,Kansallisgalleria / Ateneumin taidemuseo,23.8,33.2,cm,NaN,NaN,Saaristomaisema,artwork,...,NaN,NaN,NaN,NaN,etching viivasyövytys etsning,Frans Maexmontan,Frans Maexmontan,Saaristomaisema,1923,inventoryNumber
27993,58236,592586,Kansallisgalleria / Ateneumin taidemuseo,19.6,14.3,cm,NaN,NaN,Satama-aihe,artwork,...,NaN,NaN,NaN,NaN,etching viivasyövytys etsning,Frans Maexmontan,Frans Maexmontan,Satama-aihe,1924,inventoryNumber

In [7]:

for idx, date, df in zip(dataset_names, museums_opening_date, transformed_data):
    print('------------------------------')
    print(idx)
    print(f'museum opened in {date}')
    find_outliers(df, 'Year_acquisition')

------------------------------
met
museum opened in 1870

Year statistics:
Earliest year: 1870
Latest year: 2021
------------------------------
reina_sofia
museum opened in 1990

Year statistics:
Earliest year: 1888
Latest year: 2021

Potential outliers detected (2 values):
Year_acquisition
1888    1
1974    1
Name: count, dtype: int64
----------------------------------
------------------------------
tate
museum opened in 1897

Year statistics:
Earliest year: 1823
Latest year: 2013
------------------------------
pompidou
museum opened in 1977

Year statistics:
Earliest year: 1897
Latest year: 2021

Potential outliers detected (4980 values):
Year_acquisition
1957    2947
1937     170
1927     128
1939     123
1931     120
Name: count, dtype: int64
----------------------------------
------------------------------
moma
museum opened in 1929

Year statistics:
Earliest year: 1929
Latest year: 2024
------------------------------
whitney
museum opened in 1931

Year statistics:
Earliest year: 1918
Latest year: 2024
------------------------------
national_gallery
museum opened in 1937

Year statistics:
Earliest year: 1937
Latest year: 2024
------------------------------
kiasma
museum opened in 1998

Year statistics:
Earliest year: 1568
Latest year: 2021

Potential outliers detected (61 values):
Year_acquisition
1568    15
1943     7
1940     4
1974     2
1867     1
Name: count, dtype: int64
----------------------------------
------------------------------
smk
museum opened in 1896

Year statistics:
Earliest year: 1036
Latest year: 2024

Potential outliers detected (2098 values):
Year_acquisition
1696    403
1749    226
1700    201
1754    109
1725     75
Name: count, dtype: int64
----------------------------------
------------------------------
ateneum
museum opened in 1887

Year statistics:
Earliest year: 1000
Latest year: 2024

Potential outliers detected (1595 values):
Year_acquisition
1754    72
1648    65
1443    52
1330    32
1650    31
Name: count, dtype: int64
----------------------------------
------------------------------
queensland
museum opened in 1895

Year statistics:
Earliest year: 1888
Latest year: 2023

Potential outliers detected (431 values):
Year_acquisition
1940    40
1919    33
1931    30
1933    29
1896    29
Name: count, dtype: int64
----------------------------------

# 4. creation year

In [8]:
for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    artwork_creation_date(df)

met
Data found in column: Object Date
Number of cleaned variables: 289749 out of 476318 (60.8%)
----------------------------------
reina_sofia
Data found in column: year_production
Number of cleaned variables: 10010 out of 10018 (99.9%)
----------------------------------
tate
Data found in column: year
Number of cleaned variables: 63805 out of 69201 (92.2%)
----------------------------------
pompidou
Data found in column: object_date
Number of cleaned variables: 110546 out of 115217 (95.9%)
----------------------------------
moma
Data found in column: Date
Number of cleaned variables: 151988 out of 157474 (96.5%)
----------------------------------
whitney
Data found in column: display_date
Number of cleaned variables: 25924 out of 26497 (97.8%)
----------------------------------
national_gallery
Data found in column: endyear_x
Number of cleaned variables: 140925 out of 141438 (99.6%)
----------------------------------
kiasma
Data found in column: yearFrom
Number of cleaned variables: 7331 out of 8329 (88.0%)
----------------------------------
smk
Data found in column: production_date_0_end
Number of cleaned variables: 171562 out of 175525 (97.7%)
----------------------------------
ateneum
Data found in column: yearFrom
Number of cleaned variables: 21420 out of 27994 (76.5%)
----------------------------------
queensland
Data found in column: DateCreated
Number of cleaned variables: 18382 out of 20250 (90.8%)
----------------------------------

In [9]:
diagnostic_df = analyze_production_columns(transformed_data[6])

In [10]:
improve_production_met(transformed_data[0])
improve_production_moma(transformed_data[4])
improve_production_whitney(transformed_data[5])
improve_production_nga(transformed_data[6])
improve_production_queensland(transformed_data[10])
#future work: base these functions on pattern similarities with acqusition patterns

Fixed 116120 out of 172525 problematic rows
MET - Number of cleaned variables: 405869 out of 476318 (85.2%)
---------------------------------------
Fixed 1026 out of 3473 problematic rows
MOMA - Number of cleaned variables: 153014 out of 157474 (97.2%)
---------------------------------------
Fixed 100 out of 569 problematic rows
whitney - Number of cleaned variables: 26024 out of 26497 (98.2%)
---------------------------------------
Fixed 0 out of 43 problematic rows
NGA - Number of cleaned variables: 140925 out of 141438 (99.6%)
---------------------------------------
Fixed 675 out of 1298 problematic rows
Queensland - Number of cleaned variables: 19057 out of 20250 (94.1%)
---------------------------------------

,Unnamed: 0,_id,irn,PlaceCreated,DateCreated,PhyMediumText,CreditLine,Person,Title,PhyMediaCategory,...,AcquiredDate,PhysicalCategory,CollectionOnlineAPI,Artist,Nationality,birth_date,death_date,Year_acquisition,Date_creation_year,source_column
0,0,1,1,NaN,1961,Watercolour on wove paper,Acquired before 1961,"GIBSON, Bessie\nQueensland Australia 1868–1961",Portrait (woman knitting),watercolour,...,1961,Painting,https://collection.qagoma.qld.gov.au/api/objec...,"GIBSON, Bessie",Queensland Australia,1868.0,1961.0,1961,1961,nan
1,1,2,2,NaN,1959,Enamel on composition board,Purchased 1963,"DICKERSON, Robert\nNew South Wales Australia 1...",Working in the fields,enamel,...,25/09/1963,Painting,https://collection.qagoma.qld.gov.au/api/objec...,"DICKERSON, Robert",New South Wales Australia,1924.0,2015.0,1963,1959,nan
2,2,3,4,NaN,1965,Synthetic polyester resin with talc and integr...,Gift of Mrs Lillian Bosch 1972,"JOMANTAS, Vincas\nLithuania/Australia VIC 1922...",Sacrifice II,Sculpture,...,28/08/1972,Sculpture,https://collection.qagoma.qld.gov.au/api/objec...,"JOMANTAS, Vincas",Lithuania/Australia VIC,1922.0,2001.0,1972,1965,nan
3,3,4,5,NaN,"1745, repr. 19th C.","Line and stipple engraving, etching on buff wo...",Gift of Mrs Jane E. Watson 1932,"HOGARTH, William (Printer)\nEngland United Kin...","Marriage a la Mode, plate II. The breakfast scene",intaglio,...,4/03/1932,Print,https://collection.qagoma.qld.gov.au/api/objec...,"HOGARTH, William (Printer)",France,1697.0,1764.0,1932,1745,nan
4,4,5,6,NaN,c.1926-33,Reproduction on paper,Gift of J.H. Wood 1940,"LOW, after David\nNew Zealand/Australia/Englan...",Aldous Huxley (reproduction),photo-mechanical,...,7/10/1940,Print,https://collection.qagoma.qld.gov.au/api/objec...,"LOW, after David",New Zealand/Australia/England NSW,1892.0,1963.0,1940,1926,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20245,20245,20246,43672,NaN,1985-86,Type C photograph on paper,Gift of an anonymous donor through the Queensl...,"HENSON, Bill - Creator",Untitled #73,NaN,...,30/11/2022,Photograph,https://collection.qagoma.qld.gov.au/api/objec...,"HENSON, Bill - Creator","HENSON, Bill - Creator",NaN,NaN,2022,1985,nan
20246,20246,20247,43676,NaN,2022,"Timber, poly-coated wire",The Kenneth and Yasuko Myer Collection of Cont...,"RYUI, Koji - Creator",Petit pois #2,NaN,...,15/11/2022,Sculpture,https://collection.qagoma.qld.gov.au/api/objec...,"RYUI, Koji - Creator","RYUI, Koji - Creator",NaN,NaN,2022,2022,nan
20247,20247,20248,43677,NaN,2022,"Timber, plaster, clay, oxides",The Kenneth and Yasuko Myer Collection of Cont...,"RYUI, Koji - Creator",Etymology,NaN,...,15/11/2022,Sculpture,https://collection.qagoma.qld.gov.au/api/objec...,"RYUI, Koji - Creator","RYUI, Koji - Creator",NaN,NaN,2022,2022,nan
20248,20248,20249,43678,NaN,2022,"Timber, found objects, cork, pins, plaster, pa...",The Kenneth and Yasuko Myer Collection of Cont...,"RYUI, Koji - Creator",Calico crown,NaN,...,15/11/2022,Sculpture,https://collection.qagoma.qld.gov.au/api/objec...,"RYUI, Koji - Creator","RYUI, Koji - Creator",NaN,NaN,2022,2022,nan
20249,20249,20250,43679,NaN,2022,"Timber, found object, spakling, polystyrene, t...",Gift of the artist through the Queensland Art ...,"RYUI, Koji - Creator",The Monolith,NaN,...,18/04/2023,Sculpture,https://collection.qagoma.qld.gov.au/api/objec...,"RYUI, Koji - Creator","RYUI, Koji - Creator",NaN,NaN,2023,2022,nan

In [11]:
for idx, df in zip(dataset_names, transformed_data):
    print('------------------------------')
    print(idx)
    find_outliers(df, 'Date_creation_year')

------------------------------
met

Year statistics:
Earliest year: 1000
Latest year: 2021

Potential outliers detected (22591 values):
Date_creation_year
1390    2863
1295    2394
1300    2167
1199    1722
1399    1266
Name: count, dtype: int64
----------------------------------
------------------------------
reina_sofia

Year statistics:
Earliest year: 1843
Latest year: 2018

Potential outliers detected (17 values):
Date_creation_year
1867    3
1844    3
1845    3
1843    2
1870    2
Name: count, dtype: int64
----------------------------------
------------------------------
tate

Year statistics:
Earliest year: 1545
Latest year: 2012

Potential outliers detected (18 values):
Date_creation_year
1545    2
1573    2
1596    2
1576    1
1600    1
Name: count, dtype: int64
----------------------------------
------------------------------
pompidou

Year statistics:
Earliest year: 1000
Latest year: 2020

Potential outliers detected (54 values):
Date_creation_year
1850    22
1800    11
1859     4
1858     3
1810     2
Name: count, dtype: int64
----------------------------------
------------------------------
moma

Year statistics:
Earliest year: 1768
Latest year: 2024

Potential outliers detected (2052 values):
Date_creation_year
1818    324
1860    296
1857    162
1843    145
1854    139
Name: count, dtype: int64
----------------------------------
------------------------------
whitney

Year statistics:
Earliest year: 1870
Latest year: 2024
------------------------------
national_gallery

Year statistics:
Earliest year: 1099
Latest year: 2023

Potential outliers detected (13266 values):
Date_creation_year
1599    454
1580    407
1500    319
1515    317
1620    298
Name: count, dtype: int64
----------------------------------
------------------------------
kiasma

Year statistics:
Earliest year: 1954
Latest year: 2021
------------------------------
smk

Year statistics:
Earliest year: 1038
Latest year: 2024

Potential outliers detected (29 values):
Date_creation_year
1038    25
1342     1
1320     1
1314     1
1299     1
Name: count, dtype: int64
----------------------------------
------------------------------
ateneum

Year statistics:
Earliest year: 1688
Latest year: 2020

Potential outliers detected (40 values):
Date_creation_year
1750    9
1755    5
1700    4
1757    3
1772    2
Name: count, dtype: int64
----------------------------------
------------------------------
queensland

Year statistics:
Earliest year: 1000
Latest year: 2022

Potential outliers detected (727 values):
Date_creation_year
1800    92
1820    48
1770    26
1700    25
1810    15
Name: count, dtype: int64
----------------------------------

# 5. Artist birth

In [12]:
from cleaning_scripts.cleaning_dates import *
possible_columns = ['Artist Begin Date', 'author_born_year', 'yearOfBirth', 'artist_birth', 'BeginDate', 'birth_date', 
                        'beginyear', 'people_0_birthYear', 'production_0_creator_date_of_birth']

for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    extract_date(df, possible_columns, 'Artist_birth_year')

met
Data found in column: Artist Begin Date
Number of cleaned variables: 236129 out of 476318 (49.6%)
----------------------------------
reina_sofia
Data found in column: author_born_year
Number of cleaned variables: 9763 out of 10018 (97.5%)
----------------------------------
tate
Data found in column: yearOfBirth
Number of cleaned variables: 68657 out of 69201 (99.2%)
----------------------------------
pompidou
Data found in column: artist_birth
Number of cleaned variables: 83543 out of 115217 (72.5%)
----------------------------------
moma
Data found in column: BeginDate
Number of cleaned variables: 148242 out of 157474 (94.1%)
----------------------------------
whitney
Data found in column: birth_date
Number of cleaned variables: 25930 out of 26497 (97.9%)
----------------------------------
national_gallery
Data found in column: beginyear
Number of cleaned variables: 135119 out of 141438 (95.5%)
----------------------------------
kiasma
Data found in column: people_0_birthYear
Number of cleaned variables: 8072 out of 8329 (96.9%)
----------------------------------
smk
Data found in column: production_0_creator_date_of_birth
Number of cleaned variables: 166300 out of 175525 (94.7%)
----------------------------------
ateneum
Data found in column: people_0_birthYear
Number of cleaned variables: 27264 out of 27994 (97.4%)
----------------------------------
queensland
Data found in column: birth_date
Number of cleaned variables: 17853 out of 20250 (88.2%)
----------------------------------

In [13]:
diagnostic_df = analyze_data_quality(transformed_data[10], possible_columns, 'Artist_birth_year')

Data taken from column birth_date

In [14]:
extract_date_from_other_column(transformed_data[1], 'Artist_birth_year', 'author_born_year', 'born-death-raw')

Fixed 108 out of 255 problematic rows
MET - Number of cleaned variables: 9871 out of 10018 (98.5%)
---------------------------------------

# 6. Artist death

In [15]:
possible_columns = ['Artist End Date', 'author_death_year', 'yearOfDeath', 'artist_death', 'EndDate', 'death_date', 'endyear', 
                        'people_0_deathYear', 'production_0_creator_date_of_death']
for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    extract_date(df, possible_columns, 'Artist_death_year')

met
Data found in column: Artist End Date
Number of cleaned variables: 219364 out of 476318 (46.1%)
----------------------------------
reina_sofia
Data found in column: author_death_year
Number of cleaned variables: 6551 out of 10018 (65.4%)
----------------------------------
tate
Data found in column: yearOfDeath
Number of cleaned variables: 60427 out of 69201 (87.3%)
----------------------------------
pompidou
Data found in column: artist_death
Number of cleaned variables: 83461 out of 115217 (72.4%)
----------------------------------
moma
Data found in column: EndDate
Number of cleaned variables: 109139 out of 157474 (69.3%)
----------------------------------
whitney
Data found in column: death_date
Number of cleaned variables: 16451 out of 26497 (62.1%)
----------------------------------
national_gallery
Data found in column: endyear
Number of cleaned variables: 123658 out of 141438 (87.4%)
----------------------------------
kiasma
Data found in column: people_0_deathYear
Number of cleaned variables: 3394 out of 8329 (40.7%)
----------------------------------
smk
Data found in column: production_0_creator_date_of_death
Number of cleaned variables: 152516 out of 175525 (86.9%)
----------------------------------
ateneum
Data found in column: people_0_deathYear
Number of cleaned variables: 24965 out of 27994 (89.2%)
----------------------------------
queensland
Data found in column: death_date
Number of cleaned variables: 9757 out of 20250 (48.2%)
----------------------------------

In [16]:
diagnostic_df = analyze_data_quality(transformed_data[10], possible_columns, 'Artist_death_year')

Data taken from column death_date

In [17]:

extract_last_date_from_other_column(transformed_data[1], 'Artist_birth_year', 'author_born_year', 'born-death-raw')
#the function could be improved in the future
#now I am satisfied with 98,5% data quality

Fixed 0 out of 147 problematic rows
MET - Number of cleaned variables: 9871 out of 10018 (98.5%)
---------------------------------------

# 7. Artwork medium

In [18]:
from cleaning_scripts.string_operations import classify_medium
for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    classify_medium(df)
    
#data processing is not perfect, around 10 percent in every dataset was lost
#data can be used in the analysis

met
Data found in column: Medium
Number of variables in the original column: 469192 out of 476318 (98.5%)
Number of cleaned variables: 407342 out of 476318 (85.5%)
----------------------------------

Sample of results:
  Medium_raw Medium_classified
0       gold            object
1       gold            object
2       gold            object
3       gold            object
4       gold            object
reina_sofia
Data found in column: type_artwork
Number of variables in the original column: 9942 out of 10018 (99.2%)
Number of cleaned variables: 9913 out of 10018 (99.0%)
----------------------------------

Sample of results:
    Medium_raw Medium_classified
0         film         video art
1  graphic art          graphics
2         film         video art
3     painting          painting
4     painting          painting
tate
Data found in column: medium
Number of variables in the original column: 62817 out of 69201 (90.8%)
Number of cleaned variables: 62808 out of 69201 (90.8%)
----------------------------------

Sample of results:
                                          Medium_raw Medium_classified
0  watercolour, ink, chalk and graphite on paper....          graphics
1                                  graphite on paper          graphics
2        graphite on paper. verso: graphite on paper          graphics
3                                  graphite on paper          graphics
4                            line engraving on paper          graphics
pompidou
Data found in column: object_type
Number of variables in the original column: 115217 out of 115217 (100.0%)
Number of cleaned variables: 115029 out of 115217 (99.8%)
----------------------------------

Sample of results:
     Medium_raw Medium_classified
0  objet/design          graphics
1  objet/design          graphics
2  objet/design          graphics
3      peinture          painting
4      peinture          painting
moma
Data found in column: Medium
Number of variables in the original column: 148224 out of 157474 (94.1%)
Number of cleaned variables: 125719 out of 157474 (79.8%)
----------------------------------

Sample of results:
                                          Medium_raw Medium_classified
0      ink and cut-and-pasted painted pages on paper          graphics
1                  paint and colored pencil on print          graphics
2  graphite, pen, color pencil, ink, and gouache ...          graphics
3  photographic reproduction with colored synthet...          graphics
4  graphite, color pencil, ink, and gouache on tr...          graphics
whitney
Data found in column: medium
Number of variables in the original column: 26491 out of 26497 (100.0%)
Number of cleaned variables: 23433 out of 26497 (88.4%)
----------------------------------

Sample of results:
                      Medium_raw Medium_classified
0                 platinum print          graphics
1           gelatin silver print          graphics
2           gelatin silver print          graphics
3      photoetching and aquatint          graphics
4  inkjet print mounted on board          graphics
national_gallery
Data found in column: medium
Number of variables in the original column: 140191 out of 141438 (99.1%)
Number of cleaned variables: 126782 out of 141438 (89.6%)
----------------------------------

Sample of results:
                                          Medium_raw Medium_classified
0                                            woodcut            object
1                                   tempera on panel              <NA>
2                                   tempera on panel              <NA>
3  tempera (and oil?) on panel transferred to canvas          painting
4                                   tempera on panel              <NA>
kiasma
Data found in column: medium
Number of variables in the original column: 8097 out of 8329 (97.2%)
Number of cleaned variables: 7112 out of 8329 (85.4%)
----------------------------------

Sample of results:
                                          Medium_raw Medium_classified
0  chirigami kozo -paperi woodcut puupiirros träs...          graphics
1  chirigami kozo -paperi woodcut puupiirros träs...          graphics
2       kangas oil öljy olja tempera tempera tempera          painting
3                            mustavalkoinen valokuva              <NA>
4                            mustavalkoinen valokuva              <NA>
smk
Data found in column: object_names_1_name
Number of variables in the original column: 89998 out of 175525 (51.3%)
Number of cleaned variables: 88451 out of 175525 (50.4%)
----------------------------------

Sample of results:
  Medium_raw Medium_classified
0     grafik          graphics
1     grafik          graphics
2     grafik          graphics
3     grafik          graphics
4     grafik          graphics
ateneum
Data found in column: medium
Number of variables in the original column: 27103 out of 27994 (96.8%)
Number of cleaned variables: 22594 out of 27994 (80.7%)
----------------------------------

Sample of results:
                                          Medium_raw Medium_classified
0       black chalk mustaliitu svartkrita mustaliitu          graphics
1            pencil lyijykynä blyertspenna lyijykynä              <NA>
2                                          mustekynä              <NA>
3  kangas oil öljy olja oil on canvas öljy kankaa...          painting
4  kangas oil öljy olja oil on canvas öljy kankaa...          painting
queensland
Data found in column: PhysicalCategory
Number of variables in the original column: 20247 out of 20250 (100.0%)
Number of cleaned variables: 19185 out of 20250 (94.7%)
----------------------------------

Sample of results:
  Medium_raw Medium_classified
0   painting          painting
1   painting          painting
2  sculpture         sculpture
3      print          graphics
4      print          graphics

# 8. and acquisition source, artist nationality, artist gender,

In [19]:
from cleaning_scripts.string_operations import create_artist_nationality
for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    create_artist_nationality(df)
#future work
#data is not processed well enough to use this data in analysis

met
Nationality data found in column: Country
Number of variables in the original column: 75612 out of 476318 (15.9%)

Matches found: 36136
Number of classified nationalities: 36136 out of 476318 (7.6%)

Sample of classification results:
  nationality_raw Country_calculated
0             NaN               <NA>
1             NaN               <NA>
2             NaN               <NA>
3             NaN               <NA>
4             NaN               <NA>
----------------------------------
reina_sofia
Nationality data found in column: nationality_artist
Number of variables in the original column: 9881 out of 10018 (98.6%)

Matches found: 8329
Number of classified nationalities: 8329 out of 10018 (83.1%)

Sample of classification results:
  nationality_raw Country_calculated
0             NaN               <NA>
1             NaN               <NA>
2             NaN               <NA>
3             NaN               <NA>
4             NaN               <NA>
----------------------------------
tate
Nationality data not found in any expected columns
pompidou
Nationality data found in column: artist_nationality
Number of variables in the original column: 33284 out of 115217 (28.9%)

Matches found: 848
Number of classified nationalities: 848 out of 115217 (0.7%)

Sample of classification results:
  nationality_raw Country_calculated
0            None               <NA>
1            None               <NA>
2            None               <NA>
3        français               <NA>
4        français               <NA>
----------------------------------
moma
Nationality data found in column: Nationality
Number of variables in the original column: 156210 out of 157474 (99.2%)

Matches found: 149443
Number of classified nationalities: 149443 out of 157474 (94.9%)

Sample of classification results:
  nationality_raw Country_calculated
0        austrian      United States
1          french             France
2        austrian      United States
3                               <NA>
4        austrian      United States
----------------------------------
whitney
Nationality data not found in any expected columns
national_gallery
Nationality data found in column: nationality
Number of variables in the original column: 138819 out of 141438 (98.1%)

Matches found: 95885
Number of classified nationalities: 95885 out of 141438 (67.8%)

Sample of classification results:
  nationality_raw Country_calculated
0        american      United States
1         italian              Italy
2         italian              Italy
3         italian              Italy
4         italian              Italy
----------------------------------
kiasma
Nationality data not found in any expected columns
smk
Nationality data found in column: production_0_creator_nationality
Number of variables in the original column: 164716 out of 175525 (93.8%)

Matches found: 136243
Number of classified nationalities: 136243 out of 175525 (77.6%)

Sample of classification results:
  nationality_raw Country_calculated
0       italiensk              Italy
1       italiensk              Italy
2       italiensk              Italy
3             ysk               <NA>
4             ysk               <NA>
----------------------------------
ateneum
Nationality data not found in any expected columns
queensland
Nationality data found in column: Nationality
Number of variables in the original column: 20248 out of 20250 (100.0%)

Matches found: 15856
Number of classified nationalities: 15856 out of 20250 (78.3%)

Sample of classification results:
       nationality_raw Country_calculated
0           queensland          Australia
1                  new        New Zealand
2  lithuania/australia      United States
3               france             France
4                  new        New Zealand
----------------------------------

In [21]:
from cleaning_scripts.string_operations import create_acquisition_method
for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    create_acquisition_method(df)
    
#some data was lost
#quality of data is enough for analysis

met
Acquisition data found in column: Credit Line
Number of variables in the original column: 475914 out of 476318 (99.9%)

Matches found: 467628
Number of classified acquisition methods: 467628 out of 476318 (98.2%)

Sample of classification results:
                      acquisition_raw Acquisition_classified
0  gift of heinz l. stoppelmann, 1979                   gift
1  gift of heinz l. stoppelmann, 1980                   gift
2    gift of c. ruxton love jr., 1967                   gift
3    gift of c. ruxton love jr., 1967                   gift
4    gift of c. ruxton love jr., 1967                   gift
----------------------------------
reina_sofia
Acquisition data not found in any expected columns
tate
Acquisition data found in column: creditLine
Number of variables in the original column: 69198 out of 69201 (100.0%)

Matches found: 69196
Number of classified acquisition methods: 69196 out of 69201 (100.0%)

Sample of classification results:
                                     acquisition_raw Acquisition_classified
0                presented by mrs john richmond 1922                   gift
1                presented by mrs john richmond 1922                   gift
2                presented by mrs john richmond 1922                   gift
3                presented by mrs john richmond 1922                   gift
4  purchased with the assistance of a special gra...                   gift
----------------------------------
pompidou
Acquisition data found in column: acquisition_type
Number of variables in the original column: 115217 out of 115217 (100.0%)

Matches found: 112670
Number of classified acquisition methods: 112670 out of 115217 (97.8%)

Sample of classification results:
    acquisition_raw Acquisition_classified
0             achat       museum accession
1             achat       museum accession
2  attribution etat          jointly owned
3              legs                bequest
4              legs                bequest
----------------------------------
moma
Acquisition data found in column: CreditLine
Number of variables in the original column: 155930 out of 157474 (99.0%)

Matches found: 155880
Number of classified acquisition methods: 155880 out of 157474 (99.0%)

Sample of classification results:
                                     acquisition_raw Acquisition_classified
0  fractional and promised gift of jo carole and ...                   gift
1  gift of the architect in honor of lily auchinc...                   gift
2             gift of jo carole and ronald s. lauder                   gift
3  purchase and partial gift of the architect in ...                   gift
4             gift of jo carole and ronald s. lauder                   gift
----------------------------------
whitney
Acquisition data found in column: credit_line
Number of variables in the original column: 26493 out of 26497 (100.0%)

Matches found: 26493
Number of classified acquisition methods: 26493 out of 26497 (100.0%)

Sample of classification results:
                                     acquisition_raw Acquisition_classified
0  whitney museum of american art, new york; gift...                   gift
1  whitney museum of american art, new york; purc...                   gift
2  whitney museum of american art, new york; prom...                   gift
3  whitney museum of american art, new york; purc...                   gift
4  whitney museum of american art, new york; purc...      assisted purchase
----------------------------------
national_gallery
Acquisition data found in column: creditline
Number of variables in the original column: 141405 out of 141438 (100.0%)

Matches found: 123173
Number of classified acquisition methods: 123173 out of 141438 (87.1%)

Sample of classification results:
               acquisition_raw Acquisition_classified
0         rosenwald collection                   loan
1  andrew w. mellon collection                   loan
2  andrew w. mellon collection                   loan
3  andrew w. mellon collection                   loan
4  andrew w. mellon collection                   loan
----------------------------------
kiasma
Acquisition data not found in any expected columns
smk
Acquisition data not found in any expected columns
ateneum
Acquisition data not found in any expected columns
queensland
Acquisition data found in column: CreditLine
Number of variables in the original column: 20211 out of 20250 (99.8%)

Matches found: 20210
Number of classified acquisition methods: 20210 out of 20250 (99.8%)

Sample of classification results:
                   acquisition_raw Acquisition_classified
0             acquired before 1961       museum accession
1                   purchased 1963       museum accession
2   gift of mrs lillian bosch 1972                   gift
3  gift of mrs jane e. watson 1932                   gift
4           gift of j.h. wood 1940                   gift
----------------------------------

use functions for raw datasets and dreate a new list with clean datasets

In [22]:
from cleaning_scripts.string_operations import create_artist_gender
for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    create_artist_gender(df)
    
#data is reliable

met
Gender data found in column: Artist Gender
Number of variables in the original column: 102287 out of 476318 (21.5%)

Classification results:
Female artists: 14207
Male artists: 0
Other/Unclassified: 0
Total classified entries: 14207 out of 476318 (3.0%)

Sample of classification results:
  Gender_raw Gender_classified
0        NaN               NaN
1        NaN               NaN
2        NaN               NaN
3        NaN               NaN
4        NaN               NaN
----------------------------------
reina_sofia
Gender data not found in any expected columns
tate
Gender data found in column: gender
Number of variables in the original column: 68501 out of 69201 (99.0%)

Classification results:
Female artists: 2727
Male artists: 65774
Other/Unclassified: 0
Total classified entries: 68501 out of 69201 (99.0%)

Sample of classification results:
  Gender_raw Gender_classified
0       Male              male
1       Male              male
2       Male              male
3       Male              male
4       Male              male
----------------------------------
pompidou
Gender data found in column: artist_gender
Number of variables in the original column: 113877 out of 115217 (98.8%)

Classification results:
Female artists: 11346
Male artists: 98198
Other/Unclassified: 4333
Total classified entries: 113877 out of 115217 (98.8%)

Sample of classification results:
  Gender_raw Gender_classified
0       None              None
1       None              None
2        man              male
3        man              male
4        man              male
----------------------------------
moma
Gender data found in column: Gender
Number of variables in the original column: 156210 out of 157474 (99.2%)

Classification results:
Female artists: 20885
Male artists: 127421
Other/Unclassified: 15
Total classified entries: 148321 out of 157474 (94.2%)

Sample of classification results:
  Gender_raw Gender_classified
0     (male)              male
1     (male)              male
2     (male)              male
3     (male)              male
4     (male)              male
----------------------------------
whitney
Gender data not found in any expected columns
national_gallery
Gender data not found in any expected columns
kiasma
Gender data not found in any expected columns
smk
Gender data found in column: production_0_creator_gender
Number of variables in the original column: 170997 out of 175525 (97.4%)

Classification results:
Female artists: 8244
Male artists: 153672
Other/Unclassified: 9081
Total classified entries: 170997 out of 175525 (97.4%)

Sample of classification results:
  Gender_raw Gender_classified
0       MALE              male
1       MALE              male
2       MALE              male
3       MALE              male
4       MALE              male
----------------------------------
ateneum
Gender data not found in any expected columns
queensland
Gender data not found in any expected columns

save clean datasets in separate csv files

In [26]:
import pandas as pd

clean_data = []

# Define the desired columns
required_columns = ['Artist', 'Title', 'Medium', 'Medium_classified', 'Acquisition_classified', 
                    'Year_acquisition', 'Gender_classified', 'Artist_birth_year', 
                    'Artist_death_year', 'Country_calculated', 'Date_creation_year']

for df in transformed_data:
    # Add any missing columns as NaN
    for col in required_columns:
        if col not in df.columns:
            df[col] = pd.NA  # or use 'None' or 'NaN' depending on your preference

    clean_data.append(df[required_columns])

In [27]:
# Save each dataset using the corresponding name
for dataset, name in zip(transformed_data, dataset_names):
    # Generate a unique filename using the dataset name
    file_name = f"/Users/CUDAN/Documents/TLU/Data analysis/raw_data/{name}.csv"
    
    # Save the DataFrame to a CSV file
    dataset.to_csv(file_name, index=False)
    print(f"Saved {file_name}")

Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/met.csv
Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/reina_sofia.csv
Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/tate.csv
Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/pompidou.csv
Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/moma.csv
Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/whitney.csv
Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/national_gallery.csv
Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/kiasma.csv
Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/smk.csv
Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/ateneum.csv
Saved /Users/CUDAN/Documents/TLU/Data analysis/raw_data/queensland.csv

In [28]:

# Save each dataset using the corresponding name
for dataset, name in zip(clean_data, dataset_names):
    # Generate a unique filename using the dataset name
    file_name = f"/Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/{name}.csv"
    
    # Save the DataFrame to a CSV file
    dataset.to_csv(file_name, index=False)
    print(f"Saved {file_name}")

Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/met.csv
Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/reina_sofia.csv
Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/tate.csv
Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/pompidou.csv
Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/moma.csv
Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/whitney.csv
Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/national_gallery.csv
Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/kiasma.csv
Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/smk.csv
Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/ateneum.csv
Saved /Users/CUDAN/Documents/GitHub/data_analysis_portfolio/data/queensland.csv