In [1]:
import pandas as pd
from cleaning_scripts.load_data_to_clean2 import load_data_to_clean
from cleaning_scripts.string_operations import create_artist_name_col, create_artwork_title
from cleaning_scripts.acquisition_operations import *
raw_data, dataset_names = load_data_to_clean()
transformed_data = []

Loaded met with shape: (476318, 54)
Loaded reina_sofia with shape: (10018, 16)
Loaded tate with shape: (69201, 31)
Loaded pompidou with shape: (115217, 23)
Loaded moma with shape: (157474, 30)
Loaded whitney with shape: (26497, 21)
Loaded national_gallery with shape: (141438, 55)
Loaded kiasma with shape: (8329, 70)
Loaded smk with shape: (175525, 17)
Loaded ateneum with shape: (27994, 88)
Loaded queensland with shape: (20250, 22)

use functions for cleaning fields.
artist name, artwork title, artwork medium, and acquisition source, aquisition year, creation year, artist nationality, artist gender

In [ ]:
#create a new column with Artist name
for idx, df in zip(dataset_names, raw_data):
    print('-----------------------------------')
    print(idx)
    create_artist_name_col(df)
    transformed_data.append(df)

met
Artist name found in column: Artist Display Name
reina_sofia
Artist name found in column: author
tate
Artist name found in column: artist
pompidou
Artist name found in column: artist_name
moma
Artist name found in column: Artist
whitney
Artist name found in column: artists
national_gallery
Artist name found in column: forwarddisplayname
kiasma
Artist name found in column: artist_name
smk
Artist name found in column: artist_0
ateneum
Artist name found in column: artist_name
queensland
Artist name found in column: Artist

In [3]:
#create a new column with Artwork title
for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    create_artwork_title(df)

met
Artwork title found in column: Title
reina_sofia
Artwork title found in column: name
tate
Artwork title found in column: name
pompidou
Artwork title found in column: object_title
moma
Artwork title found in column: Title
whitney
Artwork title found in column: title
national_gallery
Artwork title found in column: title
kiasma
Artwork title found in column: title_fi
smk
Artwork title found in column: titles_0_title
ateneum
Artwork title found in column: title_fi
queensland
Artwork title found in column: Title

In [4]:
for idx, df in zip(dataset_names, transformed_data):
    print(idx)
    clean_acquisition_year(df)

met
Data found in column: AccessionYear
Number of cleaned variables: 471928 out of 476318 (99.1%)
----------------------------------
reina_sofia
Data found in column: year_adquisition
Number of cleaned variables: 9951 out of 10018 (99.3%)
----------------------------------
tate
Data found in column: acquisitionYear
Number of cleaned variables: 69156 out of 69201 (99.9%)
----------------------------------
pompidou
Data found in column: acquisition_date
Number of cleaned variables: 100340 out of 115217 (87.1%)
----------------------------------
moma
Data found in column: DateAcquired
Number of cleaned variables: 150772 out of 157474 (95.7%)
----------------------------------
whitney
Data found in column: credit_line
Number of cleaned variables: 115 out of 26497 (0.4%)
----------------------------------
national_gallery
Data found in column: accessionnum
Number of cleaned variables: 141430 out of 141438 (100.0%)
----------------------------------
kiasma
Data found in column: inventoryNumber
Number of cleaned variables: 7898 out of 8329 (94.8%)
----------------------------------
smk
Data found in column: acquisition_date
Number of cleaned variables: 174440 out of 175525 (99.4%)
----------------------------------
ateneum
Data found in column: acquisitionYear
Number of cleaned variables: 5126 out of 27994 (18.3%)
----------------------------------
queensland
Data found in column: AcquiredDate
Number of cleaned variables: 20187 out of 20250 (99.7%)
----------------------------------

In [6]:
diagnostic_df = analyze_acquisition_columns(transformed_data[9])

In [5]:
improve_acquisition_pompidou(transformed_data[3])
improve_acquisition_whitney(transformed_data[5])
improve_acquisition_nga(transformed_data[6])
improve_acquisition_kiasma(transformed_data[7])
improve_acquisition_ateneum(transformed_data[9])

Fixed 1263 out of 1933 problematic rows
Pompidou - Number of cleaned variables: 101603 out of 115217 (88.2%)
---------------------------------------
Fixed 26378 out of 26378 problematic rows
Whitney - Number of cleaned variables: 26493 out of 26497 (100.0%)
---------------------------------------
Fixed 7 out of 7 problematic rows
Natonal Gallery - Number of cleaned variables: 141437 out of 141438 (100.0%)
---------------------------------------
Fixed 9 out of 429 problematic rows
Kiasma - Number of cleaned variables: 7907 out of 8329 (94.9%)
---------------------------------------
Fixed 11839 out of 22867 problematic rows
Ateneum - Number of cleaned variables: 16965 out of 27994 (60.6%)
---------------------------------------

,Unnamed: 0,objectId,responsibleOrganisation,dimensions_0,dimensions_1,dimensionUnit,acquisitionYear,title_en,title_fi,category_categoryId,...,people_8_deathYear,people_9_id,people_9_firstName,people_9_familyName,medium,artist_name,Artist,Title,Year_acquisition,source_column
0,1,438766,Kansallisgalleria / Ateneumin taidemuseo,23.5,23.5,cm,NaN,NaN,"Malliharjoitelma, nainen, jolla on mustat suka...",artwork,...,NaN,NaN,NaN,NaN,black chalk mustaliitu svartkrita mustaliitu,Alfred William Finch,Alfred William Finch,"Malliharjoitelma, nainen, jolla on mustat suka...",<NA>,inventoryNumber
1,2,446767,Kansallisgalleria / Ateneumin taidemuseo,29.0,42.0,cm,NaN,NaN,Hevonen,artwork,...,NaN,NaN,NaN,NaN,pencil lyijykynä blyertspenna lyijykynä,Alfred William Finch,Alfred William Finch,Hevonen,<NA>,inventoryNumber
2,6,462031,Kansallisgalleria / Ateneumin taidemuseo,22.0,17.6,cm,NaN,"Zvicken the Sleeping Dog, study","Zvicken, nukkuva koira, harjoitelma",artwork,...,NaN,NaN,NaN,NaN,mustekynä,Akseli Gallen-Kallela,Akseli Gallen-Kallela,"Zvicken, nukkuva koira, harjoitelma",<NA>,inventoryNumber
3,8,444040,Kansallisgalleria / Ateneumin taidemuseo,180.5,100.0,cm,NaN,NaN,"Juominki, luonnos Grand Cafén seinämaalaukseen...",artwork,...,NaN,NaN,NaN,NaN,kangas oil öljy olja oil on canvas öljy kankaa...,Per Krohg,Per Krohg,"Juominki, luonnos Grand Cafén seinämaalaukseen...",<NA>,inventoryNumber
4,11,610341,Kansallisgalleria / Ateneumin taidemuseo,120.0,150.0,cm,2003.0,Street Scene,Katukuva,artwork,...,NaN,NaN,NaN,NaN,kangas oil öljy olja oil on canvas öljy kankaa...,Ulla Rantanen,Ulla Rantanen,Katukuva,2003,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27989,56771,539754,Kansallisgalleria / Ateneumin taidemuseo,19.6,14.5,cm,NaN,NaN,Juutalaismorsian,artwork,...,NaN,NaN,NaN,NaN,etching viivasyövytys etsning,William Unger,William Unger,Juutalaismorsian,<NA>,inventoryNumber
27990,56879,1784430,Kansallisgalleria / Ateneumin taidemuseo,46.5,64.0,cm,NaN,Codfish,Turska,artwork,...,NaN,NaN,NaN,NaN,kangas oil öljy olja oil on canvas öljy kankaa...,Åke Hellman,Åke Hellman,Turska,2019,inventoryNumber
27991,57398,541358,Kansallisgalleria / Ateneumin taidemuseo,14.6,20.6,cm,NaN,NaN,Metsästäjiä lähteellä,artwork,...,NaN,NaN,NaN,NaN,etching viivasyövytys etsning,William Unger,William Unger,Metsästäjiä lähteellä,<NA>,inventoryNumber
27992,58062,590062,Kansallisgalleria / Ateneumin taidemuseo,23.8,33.2,cm,NaN,NaN,Saaristomaisema,artwork,...,NaN,NaN,NaN,NaN,etching viivasyövytys etsning,Frans Maexmontan,Frans Maexmontan,Saaristomaisema,1923,inventoryNumber
27993,58236,592586,Kansallisgalleria / Ateneumin taidemuseo,19.6,14.3,cm,NaN,NaN,Satama-aihe,artwork,...,NaN,NaN,NaN,NaN,etching viivasyövytys etsning,Frans Maexmontan,Frans Maexmontan,Satama-aihe,1924,inventoryNumber

In [14]:
from cleaning_scripts.acquisition_operations import find_outliers
for idx, df in zip(dataset_names, transformed_data):
    print('------------------------------')
    print(idx)
    lower_outliers, upper_outliers = find_outliers(df)

------------------------------
met

Year statistics:
Earliest year: 1870
Latest year: 2021
------------------------------
reina_sofia

Year statistics:
Earliest year: 1888
Latest year: 2021

Potential outliers detected (2 values):
Year_acquisition
1888    1
1974    1
Name: count, dtype: int64
----------------------------------
------------------------------
tate

Year statistics:
Earliest year: 1823
Latest year: 2013
------------------------------
pompidou

Year statistics:
Earliest year: 1897
Latest year: 2021

Potential outliers detected (4980 values):
Year_acquisition
1957    2947
1937     170
1927     128
1939     123
1931     120
Name: count, dtype: int64
----------------------------------
------------------------------
moma

Year statistics:
Earliest year: 1929
Latest year: 2024
------------------------------
whitney

Year statistics:
Earliest year: 1918
Latest year: 2024
------------------------------
national_gallery

Year statistics:
Earliest year: 1937
Latest year: 2024
------------------------------
kiasma

Year statistics:
Earliest year: 1568
Latest year: 2025

Potential outliers detected (61 values):
Year_acquisition
1568    15
1943     7
1940     4
1974     2
1867     1
Name: count, dtype: int64
----------------------------------
------------------------------
smk

Year statistics:
Earliest year: 1036
Latest year: 2024

Potential outliers detected (2098 values):
Year_acquisition
1696    403
1749    226
1700    201
1754    109
1725     75
Name: count, dtype: int64
----------------------------------
------------------------------
ateneum

Year statistics:
Earliest year: 1000
Latest year: 2024

Potential outliers detected (1595 values):
Year_acquisition
1754    72
1648    65
1443    52
1330    32
1650    31
Name: count, dtype: int64
----------------------------------
------------------------------
queensland

Year statistics:
Earliest year: 1888
Latest year: 2023

Potential outliers detected (431 values):
Year_acquisition
1940    40
1919    33
1931    30
1933    29
1896    29
Name: count, dtype: int64
----------------------------------

In [10]:
diagnostic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          45 non-null     int64
 1   id_x                45 non-null     int64
 2   accession_number    45 non-null     object
 3   artist              45 non-null     object
 4   artistRole          45 non-null     object
 5   artistId            45 non-null     int64
 6   title               45 non-null     object
 7   dateText            45 non-null     object
 8   medium              39 non-null     object
 9   creditLine          43 non-null     object
 10  year                42 non-null     object
 11  acquisitionYear     0 non-null      float64
 12  dimensions          41 non-null     object
 13  width               41 non-null     object
 14  height              41 non-null     object
 15  depth               0 non-null      float64
 16  units               41 non-null     object
 17  inscription         0 non-null      object
 18  thumbnailCopyright  7 non-null      object
 19  thumbnailUrl        8 non-null      object
 20  url_x               45 non-null     object
 21  ID                  45 non-null     int64
 22  id_y                45 non-null     float64
 23  name                45 non-null     object
 24  gender              45 non-null     object
 25  dates               45 non-null     object
 26  yearOfBirth         45 non-null     float64
 27  yearOfDeath         38 non-null     float64
 28  placeOfBirth        45 non-null     object
 29  placeOfDeath        33 non-null     object
 30  url_y               45 non-null     object
 31  Artist              45 non-null     object
 32  Year_acquisition    0 non-null      object
 33  source_column       45 non-null     object
dtypes: float64(5), int64(4), object(25)
memory usage: 12.1+ KB

In [10]:
transformed_data[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26497 entries, 0 to 26496
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26497 non-null  int64
 1   id_x               26497 non-null  int64
 2   title              26497 non-null  object
 3   display_date       26493 non-null  object
 4   classification     26497 non-null  object
 5   medium             26491 non-null  object
 6   accession_number   26497 non-null  object
 7   dimensions         25999 non-null  object
 8   publication_info   5752 non-null   object
 9   edition            11706 non-null  object
 10  credit_line        26493 non-null  object
 11  credit_line_repro  16188 non-null  object
 12  artists            26497 non-null  object
 13  artist_ids         26497 non-null  object
 14  artist_id          26497 non-null  int64
 15  id_y               26497 non-null  float64
 16  getty_ulan_id      21261 non-null  float64
 17  wikidata_id        24127 non-null  object
 18  display_name       26497 non-null  object
 19  birth_date         26497 non-null  float64
 20  death_date         26497 non-null  float64
 21  Artist             26497 non-null  object
 22  Title              26497 non-null  object
 23  Year_acquisition   115 non-null    object
dtypes: float64(4), int64(3), object(17)
memory usage: 4.9+ MB

In [7]:
#I need to add more tags based on dataset values
from medium_tags import load_medium_tags #returns medium_tags, medium_name
medium_tags, medium_name = load_medium_tags()
def classify_medium(df):
    df['Medium_classified'] = pd.NA
    
     # Iterate over each row in the DataFrame
    for idx, row in df.iterrows():
        medium = row['Medium_raw'] 
        
        # Skip if the 'Medium' value is not a string (e.g., NaN or other types)
        if not isinstance(medium, str):
            continue
        
        # Check each tag group (e.g., ['paper', 'watercolor'], ['oil'])
        for i, tag_group in enumerate(medium_tags):
            # Check if any keyword from the tag group exists in the 'Medium' column
            if any(tag.lower() in medium.lower() for tag in tag_group):
                # Assign the corresponding medium name (from medium_name list)
                df.at[idx, 'Medium_classified'] = medium_name[i]
                break  # Stop once we find a match
    
    return df

In [8]:
#i need to update the dictionary so all nationalities will be translated into countries
from load_nationality_tags import load_nationality_tags
nationality_tags, country_name = load_nationality_tags()
def create_artist_nationality(df):
    possible_columns = ['Country','Artist Nationality', 'nationality_artist', 'artist_nationality', 'Nationality', 'nationality', 
                        'production_0_creator_nationality']
    df['Country_calculated'] = pd.NA
    df['nationality_raw'] = pd.NA

    # Check each possible column for nationality information
    for col in possible_columns:
        if col in df.columns:
            df['nationality_raw'] = df[col].str.lower().str.strip('the').str.replace('(', '').str.replace(')', '').str.split(' ').str[0].str.strip(',')  # Copy the nationality info into 'nationality_raw'
            break  # Exit loop once we find the first match 

    for idx, row in df.iterrows():
        nationality = row['nationality_raw'] 
        
        # Skip if the 'nationality' value is not a string (e.g., NaN or other types)
        if not isinstance(nationality, str):
            continue
        
        # Check each tag group (e.g., ['paper', 'watercolor'], ['oil'])
        for i, tag_group in enumerate(nationality_tags):
            # Check if any keyword from the tag group exists in the 'nationality' column
            if any(tag.lower() in nationality.lower() for tag in tag_group):
                # Assign the corresponding nationality name (from nationality_name list)
                df.at[idx, 'Country_calculated'] = country_name[i]
                break  # Stop once we find a match

    return df

use functions for raw datasets and dreate a new list with clean datasets

In [9]:
def create_artist_gender(df):
    possible_columns = ['Artist Gender', 'gender', 'artist_gender', 'Gender', 'production_0_creator_gender']
    # Define a gender dictionary to map common terms to 'female' or 'male'
    gender_dict = {'female': ["female", 'woman'], 'male': ['male', 'man']}
    
    # Initialize the 'Gender_raw' column with missing values
    df['Gender_raw'] = pd.NA
    
    # Check which column exists and assign to 'Gender_raw'
    for col in possible_columns:
        if col in df.columns:
            df['Gender_raw'] = df[col]
            break  # Exit loop once we find the first match
    
    # Clean the text: remove all non-alphanumeric characters, split by spaces, and use the first word
    df['Gender_classified'] = df['Gender_raw'].str.replace(r'[^a-zA-Z\s]', '', regex=True)  # Remove non-alphabetic characters
    df['Gender_classified'] = df['Gender_classified'].str.split().str[0].str.lower()  # Split by space and take the first word

    # Manually map "man" and "woman" to "male" and "female" directly
    df['Gender_classified'] = df['Gender_classified'].replace({'man': 'male', 'woman': 'female'})
    
    # Use a safe check to apply gender classification only on valid strings
    df['Gender_classified'] = df['Gender_classified'].apply(
        lambda x: 'female' if isinstance(x, str) and 'female' in x else ('male' if isinstance(x, str) and 'male' in x else x)
    )
    
    # Return the modified DataFrame
    return df

In [14]:
test = transformed_data[10][['acquisition_raw', 'Acquistion_classified']].drop_duplicates(subset=['acquisition_raw'])

In [10]:
from load_acquisition_tags import load_acquisition_tags
acqusition_tags, acquisition_methods = load_acquisition_tags()
def create_acquisition_method(df):
    possible_columns = ['Credit Line', 'creditLine', 'acquisition_type', 'CreditLine', 'credit_line', 'creditline', 'CreditLine']
     # Initialize the 'Gender_raw' column with missing values
    df['acquisition_raw'] = pd.NA
    
    # Check which column exists and assign to 'Gender_raw'
    for col in possible_columns:
        if col in df.columns:
            df['acquisition_raw'] = df[col].str.lower()
            break  # Exit loop once we find the first match

    for idx, row in df.iterrows():
        acquisition = row['acquisition_raw'] 
        
        # Skip if the 'acquisition' value is not a string (e.g., NaN or other types)
        if not isinstance(acquisition, str):
            continue
        
        # Check each tag group 
        for i, tag_group in enumerate(acqusition_tags):
            # Check if any keyword from the tag group exists in the 'acquisition' column
            if any(tag.lower() in acquisition.lower() for tag in tag_group):
                # Assign the corresponding acquisition name (from acquisition_name list)
                df.at[idx, 'Acquistion_classified'] = acquisition_methods[i]
                break  # Stop once we find a match
    return df

In [ ]:
#acquisition date

In [11]:
def artwork_creation_date(df):
    possible_columns = ['Object Date', 'year_production', 'year', 'object_date', 'Date', 'display_date', 'endyear_x', 'yearFrom', 
                        'production_date_0_end', 'DateCreated']
    
    df['Date_creation_year'] = pd.NA
  
    # Loop over the possible column names and use the first one that exists
    for col in possible_columns:
        if col in df.columns:
            df['Date_creation_year'] = df[col].apply(extract_first_number)
            break  # Exit loop once we find the first match
    
    return df

In [12]:
def artist_birth_year(df):
    possible_columns = ['Artist Begin Date', 'author_born_year', 'yearOfBirth', 'artist_birth', 'BeginDate', 'birth_date', 
                        'beginyear', 'people_0_birthYear', 'production_0_creator_date_of_birth']
    df['Artist_birth_year'] = pd.NA
  
    # Loop over the possible column names and use the first one that exists
    for col in possible_columns:
        if col in df.columns:
            df['Artist_birth_year'] = df[col].apply(extract_first_number)
            break  # Exit loop once we find the first match
    
    return df

In [13]:
def artist_death_year(df):
    possible_columns = ['Artist End Date', 'author_death_year', 'yearOfDeath', 'artist_death', 'EndDate', 'death_date', 'endyear', 
                        'people_0_deathYear', 'production_0_creator_date_of_death']
    df['Artist_death_year'] = pd.NA
  
    # Loop over the possible column names and use the first one that exists
    for col in possible_columns:
        if col in df.columns:
            df['Artist_death_year'] = df[col].apply(extract_first_number)
            break  # Exit loop once we find the first match
    
    return df

In [14]:
transformed_data = []
for df in raw_data:
    create_artist_name(df)
    create_artwork_title(df)
    create_artwork_medium(df)
    classify_medium(df)
    create_artist_nationality(df)
    artwork_creation_date(df)
    clean_acquisition_year(df)
    artist_birth_year(df)
    artist_death_year(df)
    create_artist_gender(df)
    create_acquisition_method(df)
    transformed_data.append(df)

In [15]:
transformed_data[0].columns

Index(['Object Number', 'Is Highlight', 'Is Timeline Work', 'Is Public Domain',
       'Object ID', 'Gallery Number', 'Department', 'AccessionYear',
       'Object Name', 'Title', 'Culture', 'Period', 'Dynasty', 'Reign',
       'Portfolio', 'Constituent ID', 'Artist Role', 'Artist Prefix',
       'Artist Display Name', 'Artist Display Bio', 'Artist Suffix',
       'Artist Alpha Sort', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Artist Gender', 'Artist ULAN URL',
       'Artist Wikidata URL', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Geography Type', 'City', 'State', 'County', 'Country', 'Region',
       'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification',
       'Rights and Reproduction', 'Link Resource', 'Object Wikidata URL',
       'Metadata Date', 'Repository', 'Tags', 'Tags AAT URL',
       'Tags Wikidata URL', 'Artist', 'Medium_raw', 'Medium_classified',
       'Country_calculated', 'nationality_raw', 'Date_creation_year',
       'Year_acquisition', 'Artist_birth_year', 'Artist_death_year',
       'Gender_raw', 'Gender_classified', 'acquisition_raw',
       'Acquistion_classified'],
      dtype='object')

save clean datasets in separate csv files

In [17]:
import pandas as pd

clean_data = []

# Define the desired columns
required_columns = ['Artist', 'Title', 'Medium', 'Medium_classified', 'Acquistion_classified', 
                    'Year_acquisition', 'Gender_classified', 'Artist_birth_year', 
                    'Artist_death_year', 'Country_calculated', 'Date_creation_year']

for df in transformed_data:
    # Add any missing columns as NaN
    for col in required_columns:
        if col not in df.columns:
            df[col] = pd.NA  # or use 'None' or 'NaN' depending on your preference

    clean_data.append(df[required_columns])

In [18]:

# Save each dataset using the corresponding name
for dataset, name in zip(clean_data, dataset_names):
    # Generate a unique filename using the dataset name
    file_name = f"{name}.csv"
    
    # Save the DataFrame to a CSV file
    dataset.to_csv(file_name, index=False)
    print(f"Saved {file_name}")

Saved met.csv
Saved reina_sofia.csv
Saved tate.csv
Saved pompidou.csv
Saved moma.csv
Saved whitney.csv
Saved national_gallery.csv
Saved kiasma.csv
Saved smk.csv
Saved ateneum.csv
Saved queensland.csv